body {
    max-width: 1580px;
}

#carousel-inner {
    height: fit-content;
}

#master-footer {
    height: 100px;
}

.nav-item {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: brown;
}

.h5-carousel {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #0f0f0891;
}

.p-carousel {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: block;
    color: #0f0f0891;
}

.top-left {
    position: absolute;
    top: 32%;
    left: 12%;
    transform: translate(-50%, -50%);
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mobile {
        display: none;
        align-items: center;
    }


    .desktop {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mobile {
        display: none;
        align-items: center;
    }


    .desktop {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
        align-items: center;
    }

    .desktop {
        display: block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .mobile {
        display: none;

    }

    .desktop {
        display: block;
    }
}

.colx {
    border: 1px solid red;
}

.containerx,
.container-fluidx {
    border: 1px solid green;
}