body {
    max-width: 1580px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #0f0f0891;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #0f0f0891;
}

#master-footer {
    height: 100px;
}

/* #about-img {
    max-height: 450px;
} */

.nav-item {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: brown;
}

.h5-carousel {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #0f0f0891;
}

.p-carousel {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: block;
    color: #0f0f0891;
}

.top-left {
    position: absolute;
    top: 32%;
    left: 12%;
    transform: translate(-50%, -50%);
}

.card {
    width: 100%;
    max-width: fit-content;
}

@media screen and (min-width: 300px){
    .mobile-visible {
        display: block;
    }

    .desktop-visible {
        display: none;
    }
}

@media screen and (min-width: 700px){
    .mobile-visible {
        display: none;
    }

    .desktop-visible {
        display: block;
    }
}